[Unit]
Description=An app to say Hello World.

[Service]
Type=simple
User="${USER}"
WorkingDirectory=/home/breed/
ExecStartPre=/usr/bin/npm install /home/breed/
ExecStart=/usr/bin/node /home/breed/hello-world-app.js
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target