[Unit]
Description=An app to say Hello World.

[Service]
User=brian
WorkingDirectory=/home/brian/
ExecStart=node /home/brian/hello-world-app.js
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target