[Unit]
Description=An app to say Hello World.

[Service]
Type=simple
User=%u
WorkingDirectory=/home/%u/
ExecStartPre=/usr/bin/npm install /home/%u/
ExecStart=/usr/bin/node /home/%u/hello-world-app.js
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target